$gray: #adb3bf;
$flex: flex;
$blue: #1b70f1;
$green: #06b470;
$red: #f74e2c;
$grad: linear-gradient(
	90deg,
	rgba(154, 195, 33, 0.1) 0%,
	rgba(154, 195, 33, 0.8) 48.42%,
	rgba(154, 195, 33, 0.1) 100%
);

$small: 18px;
$smallX: 24px;
