@import './variables/variables.scss';

.header-content {
	align-items: center;
	margin-top: 36px;
	display: $flex;
	justify-content: space-between;
	.header-img {
		width: 714.512px;
		height: 616.737px;
		.total-img {
			position: absolute;
			right: 75px;
			bottom: 25px;
		}
	}
}
