@import './variables/variables.scss';

.market-item {
	width: 188px;
	padding: 10px 20px;
	position: relative;
	.text-crypto-item {
		display: $flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
		margin-bottom: 10px;
		.name-crypto-item {
			color: $gray;
			font-size: 16px;
		}
		.forecast-crypto-item {
			display: $flex;
			align-items: center;

			.percent-crypto-item {
				color: $green;
				font-size: 14px;
				font-weight: 600;
				margin-left: 6px;
			}
		}
	}

	.price-crypto-item {
		font-weight: 600;
	}

	&::before {
		position: absolute;
		content: '';
		width: 1px;
		height: 40px;
		background-color: #fff;
		opacity: 0.2;
		top: 25%;
		left: 208px;
	}
	margin-right: 40px;
}
