@import './variables/variables.scss';
nav {
	background-color: #1e1f25;
	padding: 32px 0;
	.navigation {
		display: $flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			height: 35px;
			padding-right: 40px;
			display: $flex;
			align-items: center;
			border-right: 1px rgba(173, 179, 191, 0.5) solid;
		}

		.nav-btn {
			display: $flex;
			gap: 10px;

			.nav-btn-log {
				width: 140px;
				&:hover {
					border: 1px rgb(148, 148, 148) solid;
				}
			}

			.nav-btn-sing {
				width: 140px;
				background-color: #1b70f1;

				&:hover {
					background-color: #0a264e;
				}
			}
		}
	}
}
